%main
  .about
    %h2 Кто я такой?
    %p
      Я родился в г. Ижевске, через несколько месяцев переехал в Воткинск
      (Удмуртская республика), в котором на данный момент проживаю. Хочу
      когда-нибудь переехать в Сан-Франциско, работать в стартапе.
    %p
      Я начал заниматься программированием в 9 лет и сейчас, оглядываясь
      назад, понимаю, что очень многие вещи делал неправильно. За несколько
      лет я попробовал C#, Pascal (Delphi), C/C++, PHP, Java, ObjectiveC и
      Javascript.
    %p
      А потом я нашел Python. Все было логично и продумано. Как и в
      Ruby On Rails, который я нашел позднее. И в Swift, который существенно
      облегчил разработку под iOS.
    %p
      Программирование начало приносить мне реальное удовлетворение.
      Я начал читать книги на английском, смотреть видео с конференций,
      начал выкладывать свой код и стараться дорабатывать чужой на Github.
    %p
      Я программист.

%aside.services
  %h2 Меню
  .service#blog
    .service-name
      = link_to("Блог")
    .service-description
      Пишу о себе и программировании
  .service#travel
    .service-name
      = link_to("Поездки")
    .service-description
      Куда и зачем я езжу
  .service#selfie
    .service-name
      = link_to("Сэлфи")
    .service-description
      Фоткаю сам себя
  .service#social-networks
    .service-name
      = link_to("Социальные сети")
    .service-description
      Все мои посты в одном месте
  .service#ratings
    .service-name
      = link_to("Рейтинги")
    .service-description
      Оцениваю разные вещи
  .service#lulz
    .service-name
      = link_to("Лулз")
    .service-description
      Коллекция странных вещей
