- provide(:title, "Список дневников")
%h2 Список дневников
= link_to("Создать новый дневник", new_journal_path)
- @journals.each do |journal|
  %h3
    = link_to(journal.name, journal)
  %p
    = journal.description
  - if admin?
    (
    = link_to("удалить", journal, method: :delete)
    \/
    = link_to("редактировать", edit_journal_path(journal))
    )
