!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= get_full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1.name
        = link_to("Сева Жидков", root_path)
      %p.about-small Люблю программирование и себя
    = yield
    %footer
      = link_to("Главная", root_path)
      = link_to("Связаться со мной", contact_path)
      %span.made-with-love
        Сделано с
        %span.heart ♥
        на Ruby On Rails
